body, html {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

p { margin: 0 }

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-radius: 12px;
    background: #3a5336;
}

.expanded {}
.collapsed {}

.line {
    align-self: center;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: whitesmoke;
    border-radius: 3px;
}

.icon {}

.links {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    color: whitesmoke;
    padding: 4px;
}

.link-text {
    margin: 0 8px;
    font-weight: bold;
}

.hidden { display: none }

.hovered {
    border-radius: 6px;
    background: goldenrod;
    color: #3a5336;
}

#hamburger {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    cursor: pointer;
    margin: 24px;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: flex-end;
    }
    .content {
        order: 1;
        flex: 1;
    }
    .sidebar {
        flex-direction: row;
        /*align-content: stretch;*/
        order: 2;
    }
    .links {
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        top: 0;
        text-align: center;
        margin: 8px;
    }
    .link {
        margin-bottom: 0;
        flex-direction: column;
        align-items: stretch;
        font-weight: lighter;
    }
    #hamburger {
        display: none;
    }
    .hidden {
        display: none;
    }
    .link-text {
        display: none;
    }

}
